input {
    outline: none;
}

.footer-input {
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: none;
    height: 40px;
    padding-left: 20px;
}

.auth-input {
    width: 100%;
    padding: 10px 0;

    border: none;
    border-bottom: 1px solid $light-grey3;

    position: relative;

    &:focus {
        border-bottom: 1px solid $primary;
    }

    &.error {
        border-bottom: 1px solid $danger;
    }
}

.input-file {
    width: 100%;
    height: 120px;
    padding: 1rem;

    border-radius: 15px;
    margin-bottom: 1rem;
    border: 1px dashed $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    .button-file {
        position: relative;
        display: block;
        padding: 10px 1rem;
        width: auto;
        border-radius: 8px;
        background: $primary;
    }
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
    i {
        width: 70%;
        text-transform: none;
        font-weight: 600;
        text-overflow: ellipsis;
    }
}

.togglePassword {
    transition: .5s ease;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: 18px;
        top: -5px;
        height: 50px;
        width: 2px;
        background: $dark;

        transform: rotate(75deg);
        transition: .2s ease;
        opacity: 0;
    }
    &.inactive {
        &::before {
            opacity: 1;
        }

    }
}

.multiple-choice-wrapper {
    padding: 0 !important;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    input[type="radio"] {
        opacity: 0;
        position: absolute;

        top: 5px;
        left: 5px;
    }

    input:checked {
        & + label {
            background: $primary;

            font-weight: 600;
        }
    }

    label {
        display: block;
        background: white;
        width: 100%;
        height: 100%;
        padding: 0.75rem 1rem;
        cursor: pointer;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
.search-input-container {
    width: 50%;
    padding: 20px;
    background: white;

    margin: 0px auto;
    margin-top: -80px;

    .search-input {
        -webkit-border-radius: 90px;
        border-radius: 90px;
        border: none;
        -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);

        width: 100%;
        height: 60px;
        background: white;

        padding-left: 30px;
    }

    .search-icon {
        position: absolute;
        right: 16px;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .spacer {
            height: 28px;
            border-left: 2px solid $light-grey3;
        }
    }

    @media (max-width: 765px) {
        width: 100%;
        margin-top: 0;
    }
}
